body { 
    font-family: 'Raleway', sans-serif;
}
.weather-wrapper { 
    border: 2px solid #7f8485;
    border-radius: 16px;
    padding: 40px 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    background-color: white;
}


.search-bar-wrapper { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper { 
    border: 2px solid #7f8485;
    border-radius: 16px;
    padding: 4px;
    display: flex;
}

.search-input { 
    border: none;
    width: 300px;
    background: transparent;
    padding-left: 12px;
}

.search-input:focus {
    outline: none;
    background-color: white;
}

.button { 
    font-family: 'Raleway', sans-serif;
    border: 2px solid #7f8485;
    color: #7f8485;
    background-color: transparent;
    border-radius: 12px;
    padding: 4px 12px;
}

.location-button { 
    border: none;
    background: transparent;
    margin-right: 4px;
}

.fa-location-arrow { 
    font-size: 20px;
    color: #7f8485;
    display: flex;
    justify-content: center;
    text-align: center;
}

.current-weather-icon { 
    width: 100px;
}

h1 { 
    color:#333;
    margin: 0;
}

.current-temp { 
    font-size: 64px;
    color: #333;
    margin-right: 16px;
}

.f { 
    line-height: 64px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    top: -36px;
}

.text { 
    color: #333;
}


.grid { 
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.current-weather-column { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-temp-column { 
    display: flex;
    align-items: center;
    justify-content: center;
}

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    color: #333;
}

li:first-letter { 
    text-transform: capitalize;
}

.footer { 
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
}



.forecast-row { 
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    color: #333;
}

.col-daily { 
    border-right: 2px solid rgb(127, 132, 133, 0.5);
    text-align: center;
    
}

.col-daily:last-child { 
    border: none;
}

.day, .low { 
opacity: .6;
}

.daily-icon { 
    margin-top: 12px;
}
.weather { 
    margin-top: 12px;
}


